@charset "UTF-8";

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/* style: header */
.header {
    width: 100%;
    height: 80px;
    z-index: 100;
    background-color: black;
}

/* style: logo at header */
.logo {
    width: auto;
    height: auto;
    margin-left: 50px;
    padding: 0px;
    float: left;
    border: 0px solid black;
}

.logo {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* style: global navigation */
.global_navi {
    float: right;
}

.global_navi ul {
    margin: 0px 50px 0px 0px;
    padding: 0px;
    list-style-type: none;
    border: 0px solid black;
}

.global_navi ul li {
    display: table-cell;
    font-family: 'Abril Fatface', cursive;
}

.global_navi ul li a {
    display: inline-block;
    padding: 30px 15px;
    color: white;
    text-decoration: none;
}

/* style: contact head */
.contact_head {
    width: 100%;
    height: 30px;
    margin-top: 100px;
    text-align: center;
}

/* style: location info */
.location_info {
    width: 100%;
    height: 600px;
}

.location_head h2 {
    width: 100%;
    height: 30px;
    margin-top: 80px;
    text-align: center;
}

.location_address {
    width: 30%;
    height: 150px;
    /*margin-top: 20px;*/
    margin-left: 400px;
    padding: 0;
    float: left;
}

.location_address h3 {
    width: auto;
    height: auto;
    margin: 20px;
    padding: 0;
}

.location_address p {
    margin: 20px;
    padding: 0;
}

.location_map {
    width: 40%;
    height: 470px;
    /*margin: 20px auto;
    padding: 0;*/
    float: right;
}

.location_map h3 {
    width: auto;
    height: auto;
    margin: 20px;
    padding: 0;
}

.location_map iframe {
    margin: 20px;
    padding: 0;
}

/* style: contact us form */
.contact_us {
    width: 100%;
    height: 500px;
}

.contactUs_head h2 {
    width: 100%;
    height: 30px;
    margin-top: 80px;
    text-align: center;
}

.contactForm_head h3 {
    width: 100%;
    height: 30px;
    margin-top: 80px;
    text-align: center;
}

/* style: footer */
.footer {
    width: 100%;
    height: 150px;
    background-color: #f2f1f1;
}

.social_icon {
    position: relative;
}
.social_icon ul {
    position: absolute;
    left: 50%;
    /*margin-left: -102px;*/
    margin-left: -138px;
    list-style-type: none;
}

.social_icon ul li {
    display: table-cell;
}

.social_icon ul li a {
    margin: 0 10px;
    display: block;
}

.footer small {
    position:relative;
    top: 90px;
    left: 45%;
    color:#333;
   
}